/* TEMPLATE STYLES */
/* Necessary for full page carousel

Landing Zero theme - A free landing page theme from BootstrapZero
http://www.bootstrapzero.com
#A8A7A8 Gray
#CC527A Dark Pink
#E8175D Bright Pink
#474747 Medium Gray
#363636 Dark Gray
*/



html,
body,
#app,
.view {
    height: 100%;
    width: 100%;
    color: #222;
    position: relative;
}

.carousel-caption {

  font-size : 2.0em;
}
.section h1{
  color: #444444!important;
  font-size : 3.6em;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 15px;
}
/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #A8A7A8;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
   background: #A8A7A8;
}

/* Navigation*/
/*.active {
    color:#eb3573!important;
}*/
.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}


.background-dark{
  background-color: #363636;
}

.background-teal{
  background-color: #2BBBAD;
}

.contact-us p,.contact-us h1.text-primary{
    background-color: #1C2331;
    color : #fff!important;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}
/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.flex-center {
    color: #fff;
}

.carousel-caption {
    height: 100%;
    padding-top: 7rem;
}

.technology-card i {
    font-size: 9em;
}

/* add css for margin fix -- this will not be needed after beta */

.card-deck .card {
    margin-left: 15px;
    margin-right: 15px;
}

.card-deck .card:not(:last-child) {
    margin-right: 15px;
}

.card-deck .card:not(:first-child) {
    margin-left: 15px;
}


.section.team-section .avatar .rounded-circle {
    max-width: 200px;
}

.card .card-circle, .card-overlay, .flex-center, .section.team-section .avatar, .testimonial-carousel .testimonial .avatar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.section.team-section .avatar {
    margin-bottom: 2rem;
    height: auto;
}

@media (min-width: 992px)
compiled.min.css?ver=4.3.2:1
.mb-r {
    margin-bottom: 3rem!important;
}

.feature-box .features-small {
    text-align: left;
}

.feature-box .features-small .fa {
    font-size: 2rem!important;
}

.feature-box {
    text-align: center;
}

.feature-box .feature-title {
    font-weight: 500;
    margin-bottom: 1rem;
}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.streak {
    background: #4285F4;
    height: 175px;
    color: #fff!important;
}

.streak h2,h5{

    color: #fff!important;
}



.md-form .prefix {
  color : #444444;
}
